<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="./style.css">
</head>
<body>

    <div class="col-md-3 col-lg-2 sidebar" id="sidebar">
        <div class="d-flex align-items-center justify-content-center">
            <img src="../partials/logo.jpeg" alt="Logo" style="width: 60px; height: 60px; border-radius: 50%;">
        </div>
        <div class="sidebar-header d-flex align-items-center justify-content-center">
            <h1 class="h5 mb-0 fw-bold">ISTA-ABS</h1>
        </div>
        <div class="sidebar-content">
            <ul class="sidebar-menu">
                <li class="sidebar-menu-item">
                    <a href="/ABS-ISTA/dashboard" class="sidebar-menu-button"><i class="bi bi-speedometer2"></i> Tableau de bord</a>
                </li>
                <li class="sidebar-menu-item">
                    <a href="/ABS-ISTA/absence/filiereView" class="sidebar-menu-button"><i class="bi bi-building"></i> Classe</a>
                </li>
                <li class="sidebar-menu-item">
                    <a href="#" class="sidebar-menu-button"><i class="bi bi-person-lines-fill"></i> Gestion de compte</a>
                </li>
                <li class="sidebar-menu-item">
                    <a href="gestion-de-siance.html" class="sidebar-menu-button"><i class="bi bi-calendar-check"></i> Gestion de seance</a>
                </li>
                <li class="sidebar-menu-item dropdown">
                    <a class="sidebar-menu-button dropdown-toggle" id="paramBtn" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-gear"></i> Paramètres
                    </a>
                    <ul class="dropdown-menu  " id="paramDropdown">
                        <li><a class="dropdown-item" href="#"> <i class="bi bi-calendar-week"></i> Année universitaire</a></li>
                        <li><a class="dropdown-item" href="parametres-stagaitres.html"> <i class="bi bi-people"></i> Stagiaires</a></li>
                        <li><a class="dropdown-item" href="parametres-modules.html"> <i class="bi bi-bookmarks"></i> Modules</a></li>
                        <li><a class="dropdown-item" href="parametres-secteures.html"> <i class="bi bi-grid"></i> Secteurs</a></li>
                        <li><a class="dropdown-item" href="parametres-fillieres.html"> <i class="bi bi-diagram-3"></i> Filières</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="sidebar-footer">
            <div class="dropup">
                <button class="btn btn-primary dropdown-toggle dropup-button" id="actionBtn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-person-gear"></i> Mon Compte
                </button>
                <ul class="dropdown-menu action-dropdown" id="actionDropdown">
                    <li><a class="dropdown-item" href="#"><i class="bi bi-person-circle"></i> Profile</a></li>
                    <li><a class="dropdown-item" href="../login/login.html"><i class="bi bi-box-arrow-right"></i> Log out</a></li>
                </ul>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
`<script src="../partials/script.js"></script>
    
</body>
</html>